/* 
&display=swap
&subset=cyrillic-ext 
*/

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
html {
  font-size: 16px; /* по умолчанию */
}
body {
  line-height: 1;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  padding: 20px;
}
/* ------------------------------ */

h2 {
  margin: 0px 0px 10px 0px;
}
.block {
  margin: 0px 0px 20px 0px;
}

.block__round {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: yellow;
}

.block__texts {
  background-color: red;
  opacity: 50%;
}

.span-text {
  outline: 5px solid #000;
}

.block__border {
  border-top: 3px solid black;
  border-bottom: 5px dashed yellow;
  border-left: 10px dotted red;
  border-right: 15px double blue;
}

.link {
  display: inline-block;
  box-shadow: 3px 3px 3px 3px #000;
}
